.footer{
    background-color: #161617;
    max-width: 140rem;
    margin: auto;
    padding: 30px 40px 40px;
}
.footer p {
    color:white;
}
.footerRow{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 15px;
    align-items: center;
    margin: 0 auto 40px auto; 
}
.footerRow h1{
    color: white;
}
.footerLinksRow{
    display: flex;
    width: 90%;
    margin: 12px auto;
    justify-content: space-between;

}
.footerCol5 h2{
    color: white;
    padding-top: 22px;
}
.footerInputs{
    border: 1px solid white;
    display: block;
    border-radius: 7px;
    height: 40px;
    padding: 0px 12px;
    /* width: 100%; */
    margin-top: 12px;
    outline: none;
    background: transparent;
    color: white;
    font-size: 14px;
}
.footerBtn{
    border: 1px solid white;
    display: block;
    border-radius: 7px;
    height: 40px;
    padding: 0px 12px;
    width: 100%;
    margin-top: 12px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 14px;
}
.socialIcons{
    /* background-color: red; */
    width: 20%;
    display: flex;
    justify-content: space-between;   
}
.socialLinks {
    width:25px;
    height: 20px;
    background-color: white;
    border-radius: 32px;
    padding: 7px;
    cursor: pointer;
}
@media (max-width:786px) {
    .footerRow{
        display: block;
        width: 100%;
        /* background-color: red; */
    }
    .footerLinksRow{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    .socialIcons{
        width: 80%;
    }
    .socialLinks{
      margin-top: 12px;
    }
}