.Movie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.mainMovie{
    width: 100%;
    display: block;
    justify-content: center;
}
@media(max-width: 768px){
    .Movie{
        display: block;
    }
}