.MovieCard{
    width: 30%;
    margin-top: 12px;
    cursor: pointer;
}
.MovieCard img{
    width: 100%;
}
.MovieCard h2{
    margin-top: 12px;
}
.MovieCard p{
    margin-top: 7px;
    font-size: 16px;
    font-weight: 500;
}
.MovieCard button{
    padding: 13px 21px;
    border:none;
    margin: 12px 0px;
    background-color: black;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}
@media(max-width: 768px){
    .MovieCard{
        width: 100%;
    }
}